## **for loop**

**1.	Write a program using a for loop to print each character of a string on a new line.**

In [1]:
name = "Raghav"

for char in name:
  print(char)

R
a
g
h
a
v

**3.	Write a for loop program to count how many vowels are in a given string.**

In [2]:
s = input()

count = 0
vowels = "aeiou"

for char in s:
  if char.lower() in vowels:
    count = count + 1
print(count)

Australia
5

**5.	Write a for loop program that prints characters of a string except spaces.**

In [16]:
name = "Raghav S"

for char in name:
  if char != " ":
    print(char)

R
a
g
h
a
v
S

**7.	Write a for loop to print only uppercase characters in a string.**

In [4]:
name = "Raghav Surisetti"

name_uppercase = name.upper()
#print(name_uppercase)

for char in name:
  if char.isupper() == True:
      print(char)

R
S

**9.	Write a program using a for loop to check how many digits exist inside a mixed string.**

In [5]:
name = "Raghav Surisetti#2154"

count = 0

for char in name:
  if char.isdigit() == True:
    count += 1

print(count)

4

**11.	Write a for loop that prints characters of a string along with their ASCII values.**

In [6]:
name = "Raghav Surisetti"

for char in name:
  print(char, ord(char))

R 82
a 97
g 103
h 104
a 97
v 118
  32
S 83
u 117
r 114
i 105
s 115
e 101
t 116
t 116
i 105

**13.	Write a for loop to print characters of a string in reverse order without slicing.**

In [7]:
s = "Raghav"
rev_s = ""

for char in s:
  rev_s = char + rev_s

print(rev_s)

vahgaR

**15.	Write a for loop program to count how many alphabetic characters, digits, and special characters are in a string.**

In [8]:
name = "Raghav Surisetti#2154"

alphabet_count = 0
digit_count = 0
spl_count = 0

name_lower = name.lower()

for char in name_lower:
  if char.isalpha() ==  True:
    alphabet_count += 1
  elif char.isdigit() == True:
    digit_count += 1
  else:
    spl_count += 1

print(alphabet_count)
print(digit_count)
print(spl_count)

15
4
2

## **while loop**

**2.	Write a program using a while loop to print each character of a string with its index number.**

In [9]:
name = "Raghav"
i = 0
while i < len(name):
  print(i, name[i])
  i = i + 1

0 R
1 a
2 g
3 h
4 a
5 v

**4.	Write a while loop program to reverse a string manually.**

In [10]:
s = "Raghav"
rev_s = ""

l = len(s) # 6
i = 0
while i < l: # 0 < 6 i.e., 5 iterations for while
  rev_s = rev_s + s[l-i-1]
  i = i + 1

print(rev_s)

vahgaR

**6.	Write a program using a while loop to count how many times a specific character appears in a string.**

In [11]:
s = "Raghav"

count = 0

char = input()


l = len(s) # 6
i = 0
while i < l: # 0 < 6 i.e., 5 iterations for while
  if s[i] == char:
    count += 1
  i = i + 1

print(f"{char} is repeated {count} times")

a
a is repeated 2 times

**8.	Write a while loop program that stops printing characters when it encounters the letter a.**

In [12]:
s = "Raghav"

l = len(s) # 6

i = 0

while i < l: # 0 < 6 i.e., 6 iterations for while
  print(s[i])
  if s[i] == 'a':
    break
  i = i + 1

R
a

**10.	Write a while loop program to print alternate characters of a string**

In [13]:
s = "Raghav Surisetti"

l = len(s) # 16

i = 0

while i < l: # 0 < 16 i.e., 16 iterations for while
  print(s[i])
  i = i + 2

R
g
a

u
i
e
t

**12.	Write a program using a while loop to copy characters of one string into another new string.**

In [17]:
s = "Raghav"

l = len(s)

new_s = ""

i = 0

while i < l: # 0 < 6 i.e., 5 iterations for while
  new_s += s[i]
  i = i + 1

print(new_s)

#shallow copy check
print(id(s))
print(id(new_s))

Raghav
139913412653248
139913412652288

**14.	Write a while loop program that prints the first half of a string.**

In [18]:
s = "Surisetti's"

l = len(s) # 16

sub_s = ""
i = 0
while i < int(l/2): # 0 < 9 i.e., 8 iterations for while
  sub_s += s[i]
  i = i + 1

print(sub_s)

Suris