<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python List Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! ðŸ’»ðŸ `

### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [ ]:
# Please write The solution Here for above question 1:

lst = [10,11,12,13]
count = 0

for item in lst:
  count += 1
print(count)

4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [ ]:
# Please write The solution Here for above question 2:

lst = [3, 10, 11, 12, 13]

print(max(lst))

print(min(lst))

13
3

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [ ]:
# Please write The solution Here for above question 3:

lst = [1,2,3,4,2,5]

n = int(input())

lst.remove(n)
print(lst)

2
[1, 3, 4, 2, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [ ]:
# Please write The solution Here for above question 4:
sum = 0
lst = [1,2,3,4,2,6]
l = len(lst)

for num in lst:
  sum += num
print("Average of numbers in the list", sum/l)

Average of numbers in the list 3.0

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [ ]:
# Please write The solution Here for above question 5:

lst_a = [1, 2, 3]

if (len(lst_a) == 0):
  print(f"{lst_a} is empty")
else:
  print(f"{lst_a} is not empty")

[1, 2, 3] is not empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [ ]:
# Please write The solution Here for above question 6:

list_a = [1,2,3,4,2,5]
le = len(list_a)
n = int(input())

for i in range(le):
  if (list_a[i] == n):
    print(f"index of {n} is {i}")

3
index of 3 is 2

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [ ]:
# Please write The solution Here for above question 7:

lst =  [134,121,155]

for num in lst:
  if str(num) == str(num)[::-1]:
    print(f"{num} is palindrome")
  else:
    print(f"{num} is not a palindrome")

134 is not a palindrome
121 is palindrome
155 is not a palindrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [ ]:
# Please write The solution Here for above question 8:

list_a = [1,2,3,4,10]
list_b = [10,11,12,14]

for num1 in list_a:
  for num2 in list_b:
    if (num1 == num2):
      print(f"The common element is: {num1}")

The common element is: 10

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [ ]:
# Please write The solution Here for above question 9:

list_z = [10,11,12,10,12,24]
list_a = []
list_b = []
for num in list_z:
  if (list_z.count(num) == 1):
    list_a.append(num)
  elif (list_z.count(num) > 1):
    list_b.append(num)

print(list_a + list(set(list_b)))

[11, 24, 10, 12]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [ ]:
# Please write The solution Here for above question 10:

list_a = ['a' , 'c' , 'b']

list_b = sorted(list_a)
print(list_b)

['a', 'b', 'c']