**1. Access the 3rd element of a list.**

In [ ]:
list = [3, 5, 8, 10, 15]

#indexing stars from 0
print(list[2]) #3rd element lies at index 2

8

**2. Print the last element without using negative index.**

In [ ]:
lst = [3, 5, 8, 10, 15]
l = len(lst)


#reverse indexing starts with -1
print(lst[l-1])

15

**3. Slice a list to get first three items.**

In [ ]:
lst = [3, 5, 8, 10, 15]

print(lst[:3]) #last index in exculded in slicing

[3, 5, 8]

**4. Slice to get every second element.**

In [ ]:
lst = [3, 5, 8, 10, 15, 16, 199]

print(lst[::2])

[3, 8, 15, 199]

**5. Reverse a list using slicing.**

In [ ]:
lst = [3, 5, 8, 10, 15]

print(lst[::-1])

[15, 10, 8, 5, 3]

**6. Create a shallow copy of a list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15, "six"]

lst_b = lst_a.copy()
print(lst_b)

lst_b.append("Four") # appends "Four" to lsb_b
print(lst_b)
print(lst_a) # appending "Four to lst_b doesn't affect lst_a, so it's a shallow copy"

[3, 5, 8, 10, 15, 'six']
[3, 5, 8, 10, 15, 'six', 'Four']
[3, 5, 8, 10, 15, 'six']

**7. Find length of a list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15, "six"]

print(len(lst_a))

6

**8. Find max value in a list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

print(max(lst_a))

15

**9. Find min value in a list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

print(min(lst_a))

3

**10.Remove the last element from a list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

lst_a.pop(-1) # pop accepts index numbers & delete those values

print(lst_a)

[3, 5, 8, 10]

**11.Add an item to end of list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

lst_a.append(91)   #memory is increased in the end of the list
print(lst_a)

[3, 5, 8, 10, 15, 91]

**12.Insert element at index 1.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

lst_a.insert(1, 12)  # memory is increased at a choosen index

print(lst_a)

[3, 12, 5, 8, 10, 15]

**13. Convert string to list of characters.**

In [ ]:
text = "Raghav loves to watch cricket live"

print(list(text))

['R', 'a', 'g', 'h', 'a', 'v', ' ', 'l', 'o', 'v', 'e', 's', ' ', 't', 'o', ' ', 'w', 'a', 't', 'c', 'h', ' ', 'c', 'r', 'i', 'c', 'k', 'e', 't', ' ', 'l', 'i', 'v', 'e']

**14. Convert string "a b c" to ['a','b','c'].**

In [ ]:
str1 = "a b c"

str2 = str1.replace(" ", "")

print(list(str2))

['a', 'b', 'c']

**15. Concatenate two lists.**

In [ ]:
lst_a = [1, 2, 3]
lst_b = [4, 5, 6]

print(lst_a + lst_b)

[1, 2, 3, 4, 5, 6]

**16. Check if value exists in list.**

In [ ]:
lst_a = [1, 2, 3]
val = int(input())

if val in lst_a:
  print (True)
else:
  print (False)

2
True

**17. Create a list from 1-5 using list constructor.**

In [ ]:
#didn't teach

In [ ]:
a = list(range(1, 6))

print(a)

[1, 2, 3, 4, 5]

**18.Remove an item by value.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

lst_a.remove(8)
print(lst_a)

[3, 5, 10, 15]

**19. Clear all elements of a list.**

In [ ]:
lst_a = [3, 5, 8, 10, 15]

lst_a.clear()  #deletes all the items in a list but the list_a is still in memory as empty list
print(lst_a)

[]

**20. Sort a list without modifying original list.**

In [ ]:
lst_a = [3, 8, 5, 15, 10]

print(sorted(lst_a))
print(lst_a) #original list is not affected

[3, 5, 8, 10, 15]
[3, 8, 5, 15, 10]

**Q)write a python program to reverse the order of the words in a given string**

In [ ]:
a = 'i.love.programming.language'
print(a)

f = a.split('.')
print(f)

t = []
l = len(f)

for i in range(l):
    t.append(f[l - (i+1)])

print('.'.join(t))

i.love.programming.language
['i', 'love', 'programming', 'language']
language.programming.love.i