**1.	Create a set with five numbers.**

In [ ]:
set_a = {5, 10, 30, 50, 60}

print(set_a)

{50, 5, 10, 60, 30}

**2.	Add an element to a set.**

In [ ]:
set_a = {5, 10, 30, 50, 60}

set_a.add(100)

print(set_a)

{50, 100, 5, 10, 60, 30}

**3.	Remove an element from a set if present.**

In [ ]:
set_a = {5, 10, 30, 50, 60}

set_a.remove(10)

print(set_a)

{50, 5, 60, 30}

**4.	Convert a list into a set.**

In [ ]:
lst_a = [1, 5, 30, 59]

print(set(lst_a))

{1, 59, 5, 30}

**5.	Check if an element exists in a set.**

In [ ]:
set_a = {5, 10, 30, 50, 60}

n = int(input())

if n in set_a:
  print(True)

10
True

**6.	Find union of two sets.**

In [ ]:
set_a = {5, 10, 30, 50, 60}
set_b = {8, 15, 50, 10}

set_c = set_a.union(set_b)

print(set_c)

{5, 8, 10, 15, 50, 60, 30}

**7.	Find intersection of two sets.**

In [ ]:
set_a = {5, 10, 30, 50, 60}
set_b = {8, 15, 50, 10}

set_c = set_a.intersection(set_b)

print(set_c)

{50, 10}

**8.	Find difference between two sets.**

In [ ]:
set_a = {5, 10, 30, 50, 60}
set_b = {8, 15, 50, 10}

set_c = set_a.difference(set_b)

print(set_c)

{60, 5, 30}

**9.	Find symmetric difference between two sets.**

In [ ]:
set_a = {5, 10, 30, 50, 60}
set_b = {8, 15, 50, 10}

set_c = set_a.symmetric_difference(set_b)
# Alternatively, you can use the ^ operator:
# set_c = set_a ^ set_b

print(set_c)

{5, 8, 15, 60, 30}

**10.	Remove all elements from a set.**

In [ ]:
set_a = {5, 10, 30, 50, 60}

set_b = set_a.clear()

print(set_a.clear())
print(set_b)
print(type(set_b))

None
None
<class 'NoneType'>

**11.	Create a frozen set from a list.**

In [ ]:
list_a = [1, 2, 3, 4, 5]
frozen_set_a = frozenset(list_a)

print(frozen_set_a)
print(type(frozen_set_a))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

**12.	Convert a string into a set of characters.**

In [ ]:
txt = "Raghav"

print(set(txt))

{'g', 'h', 'R', 'a', 'v'}

**13.	Check if one set is subset of another.**

In [ ]:
set_a = {5, 10}
set_b = {5, 10, 30, 50, 60}

if set_a.intersection(set_b) == set_a:
  print(f"{set_a} is subset of {set_b}")

print(set_a.issubset(set_b))

{10, 5} is subset of {50, 5, 10, 60, 30}
True

**14.	Check if one set is superset of another.**

In [ ]:
set_a = {5, 10}
set_b = {5, 10, 30, 50, 60}

print(set_b.issuperset(set_a))

True

**15.	Check if two sets are disjoint.**

In [ ]:
set_a = {11, 15}
set_b = {5, 10, 30, 50, 60}

print(set_a.intersection(set_b))
print("sets are disjoint")

set()
sets are disjoint

**16.	Find length of a set.**

In [ ]:
set_a = {11, 15}

print(len(set_a))

2

**17.	Pop an element from set and display result.**

In [ ]:
set_b = {5, 10, 30, 50, 60}

print(set_b.pop())

print(set_b)

50
{5, 10, 60, 30}

**18.	Copy a set into another set variable.**

In [ ]:
set_a = {5, 10, 30, 50, 60}
print(set_a)

set_b = set_a.copy()

set_b.add(100)

print(set_b)

{50, 5, 10, 60, 30}
{50, 100, 5, 10, 60, 30}

**19.	Create a set from a tuple.**

In [ ]:
tple_a = (2, 5, 7, 10)

print(set(tple_a))

{2, 10, 5, 7}

**20.	Create two sets and show elements unique to each (symmetric diff).**

In [ ]:
set_a = {5, 10, 30, 50, 60}
set_b = {8, 15, 50, 10}

set_c = set_a.symmetric_difference(set_b)
# Alternatively, you can use the ^ operator:
# set_c = set_a ^ set_b

print(set_c)

{5, 8, 15, 60, 30}