**1. Create a dictionary with 3 key-value pairs and print it.**

In [24]:
dict_a = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

print(dict_a)

{'Raghavendra': 100, 'Manobhi': 89, 'Ishan': 65}

**2. Access and print the value of a specific key from a dictionary.**

In [25]:
dict_s = {
    "Raghavendra" : 100,
    "Manobhi" : 89,
    "Ishan" : 65
}

print(dict_s['Ishan'])

65

**3. Use get() to retrieve a value safely without causing an error.**

In [26]:
dict_s = {
    "Raghavendra" : 100,
    "Manobhi" : 89,
    "Ishan" : 65
}

print(dict_s.get('Ishan'))

65

**4. Merge two dictionaries into a new one using update().**

In [27]:
dict_s_a = {
    "Raghavendra" : 100,
    "Manobhi" : 89,
    "Ishan" : 65
}

dict_s_b = {
    "Manasa" : 75,
    "Murali" : 84,
    "Abhishikth" : 67
}

dict_s_a.update(dict_s_b)
print(dict_s_a)

{'Raghavendra': 100, 'Manobhi': 89, 'Ishan': 65, 'Manasa': 75, 'Murali': 84, 'Abhishikth': 67}

**5. Remove a specific key using pop() and print the updated dictionary.**

In [28]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

dict_s.pop("Ishan")

print(dict_s)

{'Raghavendra': 100, 'Manobhi': 89}

**6. Check if a key exists in a dictionary using in operator.**

In [29]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

key1 = "Mano"

print(key1 in dict_s.keys())

key2 = "Manobhi"

print(key2 in dict_s.keys())

False
True

**7. Retrieve all the keys from a dictionary using keys() method.**

In [30]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

print(dict_s.keys())

dict_keys(['Raghavendra', 'Manobhi', 'Ishan'])

**8. Retrieve all the values from a dictionary using values() method.**

In [31]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

print(dict_s.values())

dict_values([100, 89, 65])

**9. Get all key-value pairs from a dictionary using items().**

In [32]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

print(dict_s.items())

dict_items([('Raghavendra', 100), ('Manobhi', 89), ('Ishan', 65)])

**10. Create a copy of a dictionary and verify both are independent.**

In [33]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

dict_s_copy = dict_s.copy() #creates a shallow copy

print(dict_s_copy)

dict_sa = {
    "Manasa" : 95
}

dict_s_copy.update(dict_sa) #using update() on the dict_s_copy
print(dict_s_copy)

print(dict_s)

{'Raghavendra': 100, 'Manobhi': 89, 'Ishan': 65}
{'Raghavendra': 100, 'Manobhi': 89, 'Ishan': 65, 'Manasa': 95}
{'Raghavendra': 100, 'Manobhi': 89, 'Ishan': 65}

### As updating the copy doesn't have any affect on the original dict(dict_s), both are independent

**11. Use setdefault() to insert a key only if it doesnâ€™t exist.**

In [34]:
dict_s = {
    "Raghavendra" : 100,
    "Manobhi" : 89,
    "Ishan" : 65
          }

dict_s.setdefault("Manasa", 95) #inserting a new key into dict_s using setdefault
dict_s.setdefault("Raghavendra", 110)

print(dict_s)

{'Raghavendra': 100, 'Manobhi': 89, 'Ishan': 65, 'Manasa': 95}

**12. Convert a list of tuples [("a", 1),("b", 2)] into a dictionary.**

In [35]:
list_a = [("a", 1),("b", 2), ("c", 3)]

print(dict(list_a))

{'a': 1, 'b': 2, 'c': 3}

**13. Convert two lists ["a", "b"] and [1, 2] into a dictionary.**

In [36]:
list_1 = ["Name", "Age", "City"]
list_2 = ["Raghavendra S", 25, "Hyderabad"]

dict_d = dict(zip(list_1, list_2))
print(dict_d)

{'Name': 'Raghavendra S', 'Age': 25, 'City': 'Hyderabad'}

**14. Find the length of a dictionary using len().**

In [37]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

print(len(dict_s))

3

**15. Delete all items from a dictionary using clear().**

In [38]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

print(dict_s.clear())

None

**16. Extract keys as a list and slice the first two.**

In [39]:
dict_s = {"Raghavendra" : 100,
          "Manasa" : 85,
          "Manobhi" : 89,
          "Ishan" : 65
          }

keys = list(dict_s.keys())
print(keys[:2])

['Raghavendra', 'Manasa']

**17. Sort the dictionary by keys and display it.**

In [40]:
dict_scores = {"Raghavendra" : 100,
          "Manasa" : 85,
          "Manobhi" : 89,
          "Ishan" : 65
          }

dict_scores_sorted = sorted(dict_scores.items())
print(dict_scores_sorted)

[('Ishan', 65), ('Manasa', 85), ('Manobhi', 89), ('Raghavendra', 100)]

**18. Access a nested dictionary value, e.g., {"emp":{"name":"John","age":30}}.**

In [41]:
student = {
    "name": "Raghav",
    "marks": {
        "maths": 95,
        "science": 90
    }
}


print(student['marks']['maths'])

95

**19. Use dictionary comprehension (without loops) to create a dictionary from a string using dict(zip()).**

In [42]:
s = "raghav"


string_dict = {k : v for k,v in zip(s, range(len(s)))}

print(string_dict)

{'r': 0, 'a': 4, 'g': 2, 'h': 3, 'v': 5}

**20. Find the maximum and minimum value in a dictionary using built-in functions.**

In [43]:
dict_s = {"Raghavendra" : 100,
          "Manobhi" : 89,
          "Ishan" : 65
          }

values = dict_s.values()
print(min(values))
print(max(values))

65
100